<div style="background: rgb(0,0,0);color: rgb(255,255,255);">
<section id="hero">
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand swing animated infinite" href="#" style="box-shadow: 0px 0px 0px;font-size: 42px;font-family: 'Abril Fatface', cursive;opacity: 0.88;filter: brightness(173%) grayscale(100%) hue-rotate(338deg) invert(100%);">TINDER</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="#">ENGLISH</a></li>
                    <li class="nav-item"></li>
                </ul>
            </div><a class="btn btn-primary" role="button" href="/login">LOGIN</a>
        </div>
    </nav>
    <h1 style="margin-top: 250px;font-size: 126px;text-align: center;text-shadow: 5px 4px 11px, 0px 0px;">Swipe Right®<br></h1><a class="btn btn-primary tada animated infinite" role="button" style="/*text-align: center;*//*background: #fd5068;*/font-size: 24px;border-width: 0px;border-radius: 21px;font-family: 'Abril Fatface', cursive;margin: 0px;margin-right: 0;margin-left: 38%;margin-top: 44px;padding: 17px 12px;height: 68.8px;width: 394.675px;/*color: rgb(255,255,255);*/box-shadow: 7px 8px 9px 3px rgb(221,65,65);" href="/signup">Create Account<br></a>
</section>
<div class="container">
    <div class="row" style="margin-right: 0;">
        <div class="col text-monospace" data-aos="zoom-in" data-aos-duration="850" style="border-radius: 47px;box-shadow: 1px 2px 13px;margin: 0px;margin-right: 0px;/*margin-right: 284px;*/padding: 2px;opacity: 1;width: 331.663px;font-size: 16px;border-style: dashed;">
            <h1 style="font-size: 40px;margin-left: 15px;">Ryan and Lindsey Walsh<br></h1>
            <p style="text-align: left;padding: 1px;margin-left: 56px;margin-top: 3px;"><br>My college roommate and I both would stay up on Tinder, not looking for anything serious (also not looking for hookups though, just entertainment). My now husband and I matched on Tinder.<br><br></p>
        </div>
        <div class="col offset-0 m-auto" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="450" style="border-radius: 47px;box-shadow: 1px 2px 13px;height: 364.8;border-style: dashed;">
            <h1 style="font-size: 36px;">Victoria and Bayleigh Rodriquez ❤️<br><br></h1>
            <p class="text-monospace" style="margin-left: 57px;">THANK YOU for making it possible for me to meet my soulmate. Five minutes into our first conversation, my now-wife mentioned how we would have an amazing wedding.<br><br></p>
        </div>
        <div class="col" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="900" style="border-radius: 47px;box-shadow: 1px 2px 13px;border-width: 2.4px;border-style: dashed;text-shadow: 0px 0px;transform: perspective(60px);">
            <h1 style="margin-left: 30px;">Lauren Delarmente</h1>
            <p class="text-monospace" style="margin-left: 74px;margin-top: 69px;">I didn't think anything would ever come about from it, but one day I saw this stunning beauty come across the app. I Super Liked her, paying a dollar extra for the Super Like!<br><br></p>
        </div>
    </div>
</div>
<div class="container" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
    <div class="row">
        <div class="col">
            <h1 style="margin-left: 35px;width: 160px;font-size: 33px;">Safety<br></h1>
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(255,255,255);margin-left: 8px;font-size: 16px;text-align: center;">Community Guidelines<br></a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(251,252,254);margin-left: 36px;">Safety Tips<br></a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(255,255,255);margin-left: 18px;">Safety &amp; Policy<br></a></div>
            </div>
            <div class="row">
                <div class="col" style="height: 32px;"><a href="#" style="color: rgb(251,251,251);margin-left: 33px;">Security<br></a></div>
            </div>
        </div>
        <div class="col">
            <h1 style="margin-left: 36px;font-size: 32px;filter: blur(0px);">Legal<br></h1>
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(254,255,255);margin-left: 45px;">Privacy<br></a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(241,241,241);margin-left: 46px;">Terms<br></a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(254,254,254);margin-left: 28px;">Cookie Policy<br></a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(255,255,255);margin-left: 9px;">Intellectual Property<br></a></div>
            </div>
        </div>
        <div class="col">
            <h1 style="font-size: 33px;margin-left: 20px;">Careers<br></h1>
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(255,255,255);margin-left: 24px;">Careers Portal<br></a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(247,249,251);margin-left: 37px;">Tech Blog<br></a></div>
            </div>
        </div>
        <div class="col">
            <h1 style="font-size: 31px;">Social<br></h1>
            <div class="row">
                <div class="col"><i class="fa fa-instagram" style="width: 39.725px;height: 27px;margin: -2px;padding: 5px;font-size: 45px;"></i><i class="fa fa-ticket" style="margin-left: 24px;font-size: 42px;"></i><i class="fa fa-youtube-play" style="font-size: 49px;margin-left: 18px;"></i></div>
            </div>
            <div class="row">
                <div class="col"><i class="fa fa-twitter" style="font-size: 48px;"></i><i class="fa fa-facebook" style="font-size: 40px;margin-left: 20px;margin-top: -15px;"></i></div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(247,247,247);">Press Room<br></a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(251,251,251);">Contact<br></a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(250,250,251);">Subscription Tiers<br></a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(255,255,255);">Support<br></a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#" style="color: rgb(255,255,255);">Promo Code<br></a></div>
            </div>
        </div>
    </div>
</div>
<div class="container" data-aos="slide-up" data-aos-duration="600">
    <h1>Get the app!<br></h1>
    <p style="width: 100%;">Single people, listen up: If you’re looking for love, want to start dating, or just keep it casual, you need to be on Tinder. With over 55 billion matches made, it’s the place to be to meet your next best match. Let’s be real, the dating landscape looks very different today, as most people are meeting online. With Tinder, the world’s most popular free dating app, you have millions of other single people at your fingertips and they’re all ready to meet someone like you. Whether you’re straight or in the LGBTQIA community, Tinder’s here to bring you all the sparks.<br><br></p>
    <p style="width: 100%;">There really is something for everyone on Tinder. Want to get into a relationship? You got it. Trying to find some new friends? Say no more. New kid on campus and looking to make the most of your college experience? Tinder U’s got you covered. Tinder isn’t your average dating site — it’s the most diverse dating app, where adults of all backgrounds and experiences are invited to make connections, memories, and everything in between.<br><br></p>
</div>
<footer data-aos="flip-up" data-aos-duration="800" data-aos-delay="100" class="footer-basic" style="background: rgb(0,0,0);">
    <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright" style="margin-left: 651px;">Company Name © 2021</p>
</footer>
</div>
<script src="jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
