<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tinder</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="ionicons.min.css">
    <link rel="stylesheet" href="Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="Login-Form-Clean-1.css">
    <link rel="stylesheet" href="Login-Form-Clean.css">
    <link rel="stylesheet" href="Login-Form-Dark.css">
    <link rel="stylesheet" href="Social-Icons.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="untitled-1.css">
    <link rel="stylesheet" href="untitled-2.css">
    <link rel="stylesheet" href="untitled-4.css">
    <link rel="stylesheet" href="untitled-6.css">
    <link rel="stylesheet" href="untitled.css">
</head>

<body>
<section class="login-clean" style="background: url(&quot;https://www.mobilemarketingreads.com/wp-content/uploads/2021/03/tinder-background-check.png&quot;) center / cover repeat-x, var(--light);/*height: 100%;*/transform: translate(0px);opacity: 1;filter: blur(0px);border-style: solid;border-color: rgb(15,123,231);">
    <form data-aos="zoom-in-down" data-aos-duration="800" method="post" style="background: rgb(0,0,0);opacity: 1;border-color: var(--red);box-shadow: 9px 0px 14px 10px;transform-style: preserve-3d;">
        <h2 class="sr-only">Login Form</h2>
        <h1 class="text-center" style="border-color: rgb(248,248,248);">LOGIN</h1>
        <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" style="border-width: 0px;border-radius: 11px;"></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" style="border-radius: 11px;"></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="border-radius: 6px;">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a>
    </form>
</section>
<script src="jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>